<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>AttendenceSecuritySystem</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
 <table width="100%" border="1">
 <tr>
   <td colspan="4" align="right"><a th:href="@{'/waste/add'}">Add</a></td>
  </tr> 
  <tr>
   <td>firstName</td>
   <td>LastName</td>
   <td colspan="2">Action</td>
  </tr> 
  
  <tr th:each="wasteList: ${wasteList}">
    <td th:text="${{wasteList.firstName}}" /></td> 
    <td th:text="${{wasteList.LastName}}" /></td> 
       <td >
     <a th:href="@{'/waste/update/'+${wasteList.id}}">Update</a>&nbsp;&nbsp; <a th:href="@{'/waste/delete/'+${wasteList.id}}">Delete</a>
    </td>
    
</tr> 
 </table>
</body>
</body>
</html>